@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-compass-dark text-slate-100 antialiased font-sans;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom scrollbar for tactical dashboard */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0B132B;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A506B;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5BC0BE;
  }
}
